#benefice{
    width: 100%;
    margin: 20px;
    margin-top: 50px;
}

#benefice img{
    max-height: 450px;
  }

#feature{
    width: 100%;
    margin: 20px;
    margin-top: 50px;
}

#feature img{
    max-height: 450px;
  }

  #concours{
    
    margin: 20px;
    margin-top: 50px;
}

 .imgkek{
   width:100%; 
  }

  .margindegueu{
    margin-top: 50px;
  }

  #concours form{
    padding-top: 50px;
    padding: 30px;
  }

  /* FOOTER */

  footer {
    background-color: black;
    background: black;
    padding-top: 50px;
}

.premierlogo {
    background-color: white;
    float: right;
    border-radius: 100%;
    margin-bottom: 0px;
}

.deuxiemelogo {
    background-color: white;
    float: right;
    border-radius: 100%;
    margin-right: 10px;
    margin-bottom: 50px;
}

.troisiemelogo {
    background-color: white;
    float: right;
    border-radius: 100%;
    margin-right: 10px;
    margin-bottom: 50px;
}

.text0 {
    color: black;
    text-align: center;
}

.text1 {
    color: white;
    text-align: left;
}

.text2 {
    color: white;
    text-align: center;
}

input {
  background-color: white;
}

.form-footer{
  display: flex;
  margin: 0;

}
.footer-container-items{
  display: flex;
  align-items: center;
}