#benefice{
    width: 100%;
    margin: 20px;
    margin-top: 50px;
}

#benefice img{
    max-height: 450px;
  }

#feature{
    width: 100%;
    margin: 20px;
    margin-top: 50px;
}

#feature img{
    max-height: 450px;
  }

  #concours{
    
    margin: 20px;
    margin-top: 50px;
}

 .imgkek{
   width:100%; 
  }

  .margindegueu{
    margin-top: 50px;
  }

  #concours form{
    padding-top: 50px;
    padding: 30px;
  }

  /* FOOTER */

  footer{
    background-color: black;
    background: black;
    padding-top: 50px;
}

.pf{
  color: rgb(255, 255, 255);
    text-align: center;
}

.premierlogo {
    background-color: white;
    float: right;
    border-radius: 100%;
    margin-bottom: 0px;
}

.deuxiemelogo {
    background-color: white;
    float: right;
    border-radius: 100%;
    margin-right: 10px;
    margin-bottom: 50px;
}

.troisiemelogo {
    background-color: white;
    float: right;
    border-radius: 100%;
    margin-right: 10px;
    margin-bottom: 50px;
}



#headerpage{
  width: 100%;
  height: 100%;
  background-color: #dfdfdf;
}

.nav{
  background-color: #000000;
  padding: 0px;
  height: 70px;
  padding-right: 40px;
  padding-left: 20px;
}

.p, .h1, .appsisize {
  padding-bottom: 40px;
}


nav .imgNav{
  float: left;
  display:flex ;
  width: 5%;
  height: auto;
}

nav ul{
  float: right;
}

#sit{
  text-align: center;
  width: 400px;
  height: auto;
  margin: auto;
}
.col.s6.block-header{
  display: flex;
}

.he{
  padding-top: 0px;
}

.appsisize{
  width: 140px;
  height: auto;
}

.rowYolo{
  padding: 100px;
  padding-top: 40px;
  padding-bottom: 40px;
}